$color-black: #000;
$color-orange: rgb(255, 165, 0);
$color-white: #FFF;
$color-red-translucent: rgba(255, 0, 0, 0.8);
$color-green-translucent: rgba(0, 255, 0, 0.8);
$color-black-translusent: rgba(0, 0, 0, 0.5);
$color-grey: #DFDFDF;
$color-transparent: transparent;
$color-green: #2CECA1;
$color-authorization-border: #333;
$color-basket-head: #F2F2F2;
$color-button-border: #E5E5E5;
$color-basket-button-disabled: #CCC;