$color-black: #000;
$color-orange: rgb(255, 165, 0);
$color-white: #FFF;
$color-red-translucent: rgba(255, 0, 0, 0.6);
$color-green-translucent: rgba(0, 255, 0, 0.6);
$color-black-translusent: rgba(0, 0, 0, 0.5);
$color-grey: #DFDFDF;
